// COLORS

$color-primary:  #060A24;
$color-primary-light:#0000FF;
$color-primary-medium: #0000EC;
$color-primary-dark: #0000A3;

$color-secondary: #00F3BB;

$color-grey: #060A24;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//MARGINS
$margin-sub: 20rem;
